#cloud-config
hostname: HOSTNAME_TO_SET
manage_etc_hosts: true
users:
  - name: user1
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, docker
    home: /home/user
    shell: /bin/bash
    lock_passwd: false
disable_root: false
package_update: true
ssh_pwauth: True
chpasswd:
  list: |
    user1:user1
  expire: False
write_files:
  - path: /etc/apt/apt.conf
    content: |
      Acquire::http::proxy "http://child-prc.intel.com:913/";
      Acquire::https::proxy "http://child-prc.intel.com:913/";
bootcmd:
  - grep -ri "proxy" /etc/profile && echo "yes" || (echo "export http_proxy=\"http://child-prc.intel.com:913\""|sudo tee -a /etc/profile && echo "export https_proxy=\"http://child-prc.intel.com:913\""|sudo tee -a /etc/profile && echo "export no_proxy=\"*.intel.com,intel.com,localhost,127.0.0.1,192.168.0.0/16,10.10.10.0/24\""|sudo tee -a /etc/profile)
packages:
  - openssh-server
  - python-minimal
  - unzip
  - make
power_state:
  delay: now
  mode: reboot
  message: reboot reboot
  timeout: 1
  condition: True